@model GroceryApp.Models.Grocery

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Grocery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Done)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Done)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Repeating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repeating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            DaysToExpiration
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaysToExpiration())
        </dd>
        <dt>
            ProductStatus
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductStatus())
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
